<dom-module id="note-item">
    <template>
        <style>
            :root{
                width: 100%;
                margin-top: 20px;
            }
            
            .card{
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                border-radius: 5px;

                background-color: #FFF;
            }

            .content{
                font-family: CSChatThaiUI;
                padding:20px;
                white-space:pre-wrap;
                word-wrap:break-word;
            }
            .hashtag{
                color: #4169E1;
            }
            .link{
                color:#228B22;
            }

            .del{
                float: right;
                color: #ccc;
            }
        </style>
        <div class="card">
            <template is="dom-if" if="{{setting}}">
                <paper-icon-button class="del" icon="delete" on-tap="del"></paper-icon-button>
            </template>
            <div class="content" id="text"></div>
        </div>
    </template>


    <script>
        Polymer({
            is:'note-item',
            observers:['_obItem(item)'],
            _obItem:function(val){
                var text = val.text;

                var exp_hash = /#(\S*)/g;
                var exp_url = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig; 

                text = text.replace(exp_hash,`<span class="hashtag">#$1</span>`);
                text = text.replace(exp_url,`<a class="link" target="_blank" href='$1'>$1</a>`);

                this.$.text.innerHTML = text;
            },
            del:function(){
                this.fire('delete',this.item.$key);
            }
        });
    </script>
</dom-module>