<link rel="import" href="../../../../bower_components/paper-material/paper-material.html">

<dom-module id="note-item">
    <template>
        <style>
            paper-material{
                margin:auto;
                background-color: #FFF;
                padding: 10px;
                margin-top: 10px;
                word-wrap: break-word;
            }
            pre{
                font-family: CSChatThaiUI;
            }
        </style>
        <paper-material>
            <pre>[[item.text]]</pre>
        </paper-material>
    </template>


    <script>
        Polymer({
            is:'note-item'
        });
    </script>
</dom-module>