<dom-module id="note-item">
    <template>
        <style>
            :root{
                width: 100%;
                margin-top: 20px;
            }

            pre{
                font-family: CSChatThaiUI;
                margin: 0;
            }
            
            .card{
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                border-radius: 5px;

                background-color: #FFF;
                word-wrap: break-word;
            }
            .padding{
                padding:20px;
            }
        </style>
        <div class="card">  
            <div class="padding">
                <pre>[[item.text]]</pre>
            </div>
        </div>
    </template>


    <script>
        Polymer({
            is:'note-item'
        });
    </script>
</dom-module>